<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css">
  </head>
  <body>
    <p>admin开发</p>
    <div id="example"></div>
    <script type="text/javascript" src="http://localhost:8080/app/build/js/comment.js"></script>
    <script type="text/javascript" src="http://localhost:8080/app/build/js/app.js"></script>

    <!--<script type="text/javascript" src="/build/app.js"></script>-->
  </body>
</html>